<div class="col-md-6 col-md-offset-3">

  <div class="jumbotron">
    <div class="container">
      <center><b><h3 class="font-for-links">Can't sign in to your Account.</h3></b></center>
      <hr>
      <center><b><h3 class="font-main">Select the issue.</h3></b><hr>
        <%= link_to "Forgot your password?", new_user_password_path, class: 'font-for-links' %><br /><hr>
        <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path, class: 'font-for-links' %><br /><hr>
        <%= link_to "Didn't receive unlock instructions?", '#', class: 'font-for-links' %><br /><hr>
        <%= link_to "Something else", "#", class: 'font-for-links' %><br /><hr>
      </center>
    </div>
  </div>
</div>
