<h1 class="font-main label-color">Editing Listing</h1>

<%= render 'form', listing: @listing %>

<br/>
<center>
  <div class="bottom-margin">
    <%= link_to 'Destroy', listing_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'font-for-links' %> |
    <%= link_to 'Back', listings_path, class: 'font-for-links' %>
  </div>
</center>
