<h1 class="font-main label-color">Editing Listing</h1>

<%= render 'form', listing: @listing %>

<br/>
<center>
  <div class="bottom-margin">
    <b>
      <%= button_to "Delete Listing", listing_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger form-control' %></p>
    </b>
  </div>
</center>
