.font-one {
  font-family: 'Barrio', cursive;
  letter-spacing: .3px;
}

.font-main {
  font-family: 'Cabin', sans-serif;
  color: $label;
}

.font-for-links {
  font-family: 'Work Sans', sans-serif;
  color: $main;
}

.label-color {
  color: $label;
}

.font-danger {
  font-family: 'Cabin', sans-serif;
  color: red;
}
