body {
    background-color: $white;
}

.navbar-default {
    background-color: $white;
    border: 2px solid rgba(0,0,0,0.1);
      .navbar-brand {
        color: $main;
        font-weight: bold;
        font-size: 2em;
    }
}

.jumbotron {
  background-color: $white;
  border: 2px solid rgba(0,0,0,0.1);
  padding: 10px 10px 10px 10px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: .3em 1em;
  line-height: 1.7;
}
input[type="text"] {
  height: 35px;
}
textarea {
  min-height: 12em;
  max-height: 12em;
  min-width: 70%;
  max-width: 100%;
}
